%br/
%center
  = image_tag(@artwork.title_image, class: 'preview-large')
%h1= @artwork.title
%h3= @artwork.category
%p= @artwork.description
%p= @artwork.price

= link_to "Edit your Listing", edit_artwork_path, class: 'btn btn-primary'

= link_to "Make a new Listing", new_artwork_path, class: 'btn btn-primary'

= link_to "Buy it!", new_purchase_path(id: @artwork.id), class: 'btn btn-primary'
